
/.idea
sandbox/data/grouplens/ml-25m/genome-tags.csv
sandbox/data/grouplens/ml-25m/genome-scores.csv
sandbox/data/grouplens/ml-25m/ratings.csv
sandbox/data/kaggle-asaniczka/TMDB_movie_dataset_v11.csv
sandbox/data/grouplens/ml-25m/filtered_ratings.csv
sandbox/embeddings/data.csv
sandbox/medium_article/CF/CF.pth
sandbox/medium_article/embeddings/data.csv
sandbox/embeddings/title_genre.csv
sandbox/embeddings/tagline_genres_subgenres_themes.csv
/sandbox/wandb
/sandbox/wandb
